
.banner{
    width: calc(100% - 250px);
    overflow: hidden;
    font-size: 0;
    margin-left: 250px;
    background: url('../images/subBanner.png') no-repeat;
    background-position: right;
    height: 192px;
}
.banner_cont{
    height: 100%;
}
.zt_tit1{
    font-size: 22px;
    color: #bbb;
}
.zt_tit1 strong{
    font-weight: bold;
    color: #fff;
}
.zt_tit2{
    font-size: 12px;
    color: #bbb;
}
.zt_titcont{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

.main{
    width: calc(100% - 250px);
    margin-left: 250px;
}
.sub_main{
    width: 100%;
    height: auto;
    font-size: 0;
}
.sub_ul{
    width: 100%;
    padding: 0;
    font-size: 0;
}
.sub_ul li{
    width: 33%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}
.sub_ul li>div{
    position: relative;
    width: 100%;
    color: #fff;
}
.imgBox div img{
    width: 100%;
}
.typeList{
    background: #262626;
    font-size: 20px;
    padding: 30px 20px;
    position: relative;
    cursor: pointer;
}
.typeList img.list_right{
    width: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.typeList img.list_right2{
    width: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}
.typeList img.list_close{
    width: 12px;
    position: absolute;
    top: 7px;
    right: 9px;
    display: none;
}

.typeList_cont {
    position: absolute;
    background: #3c3c3c;
    width: 100%;
    max-height: 135px;
    overflow: auto;
    top: 45px;
    display: none;
    left: 0;
    z-index: 1;
    padding: 10px 14px;
}
.typeList_cont p{
    padding: 8px 0;
    border-bottom: 2px solid #515151;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.list_name{
    display: inline-block;
    width: calc(100% - 45px);
}
.playBtn{
    color: #fff;
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #0449da;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    font-size: 12px;
    right: 0;
    transform: translateY(-50%);
}
.banner_logo{
    width: 70px;
    display: none;
}
@media screen and (min-width: 960px) and (max-width: 1200px){
    .banner, .main{
        width: 100%;
        margin-left: 0;
    }
    .banner_cont{
        padding-left: 30px;
    }
    .banner_logo{
        position: absolute;
        top: 10px;
        right: 30px;
        display: block;
    }
}
.sub_rotated{
    animation: turn .2s;
    animation-fill-mode: forwards;
}
@keyframes turn{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 320px) and (max-width: 960px){
    .banner, .main{
        width: 100%;
        margin-left: 0;
    }
    .banner{
        height: 3.2rem;
    }
    .banner_cont{
        padding-left: .4rem;
    }
    .zt_tit{
        margin-top: .2rem;
    }
    .zt_tit1{
        font-size: .4rem;
    }
    .zt_tit2{
        font-size: .2rem;
    }
    .zt_titcont{
        margin-top: .4rem;
        font-size: .4rem;
    }
    .banner_logo{
        position: absolute;
        top: .4rem;
        right: .4rem;
        display: block;
        width: 1rem;
    }
    .sub_ul li.imgBox{
        display: none;
    }
    .sub_ul li{
        width: 100%;
    }
    .typeList{
        padding: .4rem .2rem;
        font-size: .3rem;
    }
    .typeList_cont{
        position: relative;
        background: none;
        top: 0;
        left: 0;
        padding: 10px 0;
    }
    .typeList img.list_close, .typeList img.list_right{
        display: none !important;
    }
    .typeList img.list_right2{
        display: block;
        width: .2rem;
        position: absolute;
        top: .45rem;
        right: .2rem;
    }
    .typeList_cont p{
        border: none;
    }
    .sub_ul li.void{
        display: none;
    }

}