
.banner{
    width: calc(100% - 250px);
    overflow: hidden;
    font-size: 0;
    margin-left: 250px;
    background: url('../images/subBanner.png') no-repeat;
    background-position: right;
    height: 192px;
}
.banner_cont{
    height: 100%;
}
.zt_tit1{
    font-size: 22px;
    color: #bbb;
}
.zt_tit1 strong{
    font-weight: bold;
    color: #fff;
}
.zt_tit2{
    font-size: 12px;
    color: #bbb;
}
.zt_titcont{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
}

.main{
    width: calc(100% - 250px);
    margin-left: 250px;
}
.sub_main{
    width: 100%;
    height: auto;
    font-size: 0;
}
.sub_ul{
    width: 100%;
    padding: 0;
    font-size: 0;
}
.sub_ul li{
    width: 33%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}
.sub_ul li>div{
    position: relative;
    width: 100%;
    color: #fff;
}
.imgBox div img{
    width: 100%;
}
.typeList{
    background: #262626;
    font-size: 20px;
    padding: 30px 20px;
    position: relative;
    cursor: pointer;
}
.typeList img.list_right{
    width: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.typeList img.list_right2{
    width: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}
.typeList img.list_close{
    width: 12px;
    position: absolute;
    top: 7px;
    right: 9px;
    display: none;
}

.typeList_cont {
    position: absolute;
    background: #3c3c3c;
    width: 100%;
    max-height: 135px;
    overflow: auto;
    top: 45px;
    display: none;
    left: 0;
    z-index: 1;
    padding: 10px 14px;
}
.typeList_cont p{
    padding: 8px 0;
    border-bottom: 2px solid #515151;
    color: #fff;
    font-size: 12px;
    position: relative;
}
.list_name{
    display: inline-block;
    width: calc(100% - 45px);
}
.playBtn{
    color: #fff;
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #0449da;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    font-size: 12px;
    right: 0;
    transform: translateY(-50%);
}
.banner_logo{
    width: 70px;
    display: none;
}
/* 模态弹窗 */
.warning_popup{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
}
.warning_box{
    width: 650px;
    /* height: 320px; */
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.warning_title{
    width: 100%;
    height: 65px;
    background: #f0f;
    background: linear-gradient(to right, #b78dff, #1968ff);
    position: relative;
}
.warning_title p{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 22px;
    line-height: 65px;
    text-align: center;
}
.warning_title img{
    width: 30px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}
.warning_input{
    width: 80%;
    margin: 60px auto 40px auto;
    height: 70px;
}
.warning_input input{
    width: 100%;
    height: 100%;
    font-size: 22px;
    background: #e4e4e4;
    border: none;
    text-indent: 44px;
}
.signBtn{
    width: 200px;
    height: 55px;
    background: #fff;
    border: 2px solid #0449da;
    color: #0449da;
    font-size: 22px;
    margin: 0 auto;
    display: block;
}
.main_bt{
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
    color: #b6b6b6;
    position: relative;
    margin-bottom: 10px;
}
.main_bt a{
    color: #0449da;
    text-decoration: #b6b6b6;
}
.main_bt img{
    width: 20px;
}
.warning_dec{
    margin: 40px auto;
    font-size: 24px;
    text-align: center;
}

.trustBox, .dataBox{
    display: none;
}
@media screen and (min-width: 960px) and (max-width: 1200px){
    .banner, .main{
        width: 100%;
        margin-left: 0;
    }
    .banner_cont{
        padding-left: 30px;
    }
    .banner_logo{
        position: absolute;
        top: 10px;
        right: 30px;
        display: block;
    }
}
.sub_rotated{
    animation: turn .2s;
    animation-fill-mode: forwards;
}
@keyframes turn{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 320px) and (max-width: 960px){
    .banner, .main{
        width: 100%;
        margin-left: 0;
    }
    .banner{
        height: 3.2rem;
    }
    .banner_cont{
        padding-left: .4rem;
    }
    .zt_tit{
        margin-top: .2rem;
    }
    .zt_tit1{
        font-size: .4rem;
    }
    .zt_tit2{
        font-size: .2rem;
    }
    .zt_titcont{
        margin-top: .4rem;
        font-size: .4rem;
    }
    .banner_logo{
        position: absolute;
        top: .4rem;
        right: .4rem;
        display: block;
        width: 1rem;
    }
    .sub_ul li.imgBox{
        display: none;
    }
    .sub_ul li{
        width: 100%;
    }
    .typeList{
        padding: .4rem .2rem;
        font-size: .3rem;
    }
    .typeList_cont{
        position: relative;
        background: none;
        top: 0;
        left: 0;
        padding: 10px 0;
    }
    .typeList img.list_close, .typeList img.list_right{
        display: none !important;
    }
    .typeList img.list_right2{
        display: block;
        width: .2rem;
        position: absolute;
        top: .45rem;
        right: .2rem;
    }
    .typeList_cont p{
        border: none;
    }
    .sub_ul li.void{
        display: none;
    }
    
    .warning_box{
        width: 94%;
    }
    .warning_title{
        height: 1rem;
    }
    .warning_title p{
        font-size: .4rem;
        line-height: 1rem;
    }
    .warning_input {
        width: 90%;
        margin: .5rem auto .4rem auto;
        height: 1.2rem;
    }
    .warning_input input{
        font-size: .4rem;
        text-indent: .4rem;
    }
    .signBtn {
        width: 3rem;
        height: 1rem;
        font-size: .4rem;
    }
    .main_bt {
        padding-right: .2rem;
        font-size: .25rem;
        margin-bottom: .15rem;
        margin-top: .15rem;
    }
    .warning_title img{
        width: .4rem;
        right: .2rem;
    }
    .warning_dec{
        margin: .4rem auto;
        font-size: .38rem;
    }

}